# Authentication settings
#auth-service:          # ptc (default) or google
#username:
#password:

# Database settings
db-host: 127.0.0.1
db-port: 28015
db-name: pogomap
db-user: admin
db-pass:

# Search settings
location: Redfern Park, Australia
no-gyms: false
no-pokemon:  false
no-pokestops: false
num-threads: 2
scan-delay: 1
step-limit: 12

# Misc
gmaps-key:

# Webserver settings
host: 0.0.0.0
port: 5000
