# Authentication settings
#auth-service:          # ptc (default) or google
#username:
#password:

# Database settings
db-host: 127.0.0.1
db-port: 28015
db-name: pogomap
db-user: admin
# db-pass:

# Search settings
location: Redfern, NSW Australia
radius: 1000
#no-gyms
#no-pokemon
#no-pokestops

# Misc
gmaps-key:

# Webserver settings
host: 0.0.0.0
port: 5000
